{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    <title>Profile</title>

    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- CSS -->
    <link type="text/css" href="{% static 'stylesheet.css' %}" rel="stylesheet" >

    <!-- Script -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src = "{% static 'script.js' %}"></script>


</head>
<body id = "body" class = "dark-mode">
        <button type="button" name="dark_light" onclick="toggleDarkLight()" title="Toggle dark/light mode">Switch Mode🌛</button>
    <header>
        <img src="https://files.catbox.moe/qtlxpx.jpg" alt="My Profile Image" style="width:250px; border-radius: 50%; float: left;">
        <br><br><br>
        <h1>Hello, Here's My Profile</h1>
    </header>
    
    <br>

    <div class="accordion-container">
        <h2>About Me</h2>
        <h3>Kamila Kaffah 1806191225</h3>
        
        <div class="set">
            <a href="#">
                Aktifitas
                <i class="fa fa-plus"></i>
            </a>
            <div class="content">
                <p>Mahasiswa Sistem Informasi Universitas Indonesia</p>
            </div>
        </div>

        <div class="set">
            <a href="#">
                Pengalaman 
                <i class="fa fa-plus"></i>
            </a>
                <div class="content">
                    <p>HRD Divisi Digital Marketing COMPFEST11</p>
                    <p>Staf Divisi Acara SIWAK-NG 2019</p>
                    <p>Staf Divisi Mentor dan Peserta BETIS Fasilkom UI 2019</p>
                    <p>PJ Divisi Akademis BETIS Fasilkom UI 2020</p>
                    <p>Staf Divisi Pengawasan II DPM Fasilkom UI 2019</p>
					<p>HRD Bidang Marketing COMPFEST12</p>
					<p>Kontingen CSUI Cabang Atletik Lompat Jauh dan Lari Estafet</p>
					<p>Kontingen CSUI Cabang Futsal Putri</p>
                </div>
        </div>

        <div class="set">
            <a href="#">
                Prestasi 
                <i class="fa fa-plus"></i>
            </a>
                <div class="content">
                    <p>Soon Kak lagi otw. Amin. :)</p>
                </div>
        </div>
    </div>
	<br>
	<br>

</body>
</html>